
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar{
  background-color: yellow;
}

.patro {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: aliceblue;
  padding-bottom: 6vh;
}

button{
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 20px;
  border: 5px solid #EC407A;
  background-color: hotpink;
  color:#3E2723 ;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  font-style: italic;
  color:#884EA0 ;
  margin: 6vh;
  border: 7px solid #F4D03F;
  border-radius: 20px;
  padding: 1vh 5vw;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 0 auto;
}

.card {
  width: 600px;
  height: max-content;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.tour-image {
  width: 380px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.tour-name {
  color: #CB4335;
  font-size: 1.8rem;
  font-weight: bold;
}

.tour-info {
  margin: 20px 5px;
  font-weight: bold;
  font-size: 1.1rem;
  color: #7E5109 ;
}

.tour-price {
  color: #1F618D;
  font-size: 1.3rem;
  font-weight: bold;
}

.tour-btn {
  margin-top: 18px;
  padding: 10px 80px;
  border: 1px solid #b4161b;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #D7BDE2 ;
}

.about-paragraph{
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 50%;
  font-size: 1.2rem;
}

.about-moto{
  font-size: 1.5rem;
}

.about-title{
  padding-bottom: 20px;
}